<mat-toolbar color="primary">
    <span>Fantasy Animals</span>
    <span class="space-buttons"></span>
    <button *ngIf="! isLoggedIn()" routerLink="/login" mat-raised-button color="primary">Login</button>
    <button *ngIf="isLoggedIn()" (click)="logout()" mat-raised-button color="warn">Logout</button>
</mat-toolbar>

<mat-toolbar color="primary" *ngIf="isLoggedIn()">
    <button mat-raised-button color="primary" routerLink="/">Home</button>
    <button *ngIf="!isAdmin()" mat-raised-button color="primary" routerLink="/cart">Carrito</button>
    <button *ngIf="!isAdmin()" mat-raised-button color="primary" routerLink="/myOrders">Mis Ordenes</button>
    <button *ngIf="isAdmin()" mat-raised-button color="primary" routerLink="/addNewProduct">Agregar Nuevo Producto</button>
    <button *ngIf="isAdmin()" mat-raised-button color="primary" routerLink="/showProductDetails">Mostrar Detalles del Producto</button>
    <button *ngIf="isAdmin()" mat-raised-button color="primary" routerLink="/orderInformation">Informacion de las Ordenes</button>
    <button *ngIf="isAdmin()" mat-raised-button color="primary" routerLink="/usersInformation">Lista de Usuarios</button>
</mat-toolbar>











<!--
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">Angular + JWT</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/admin"
                       *ngIf="userService.roleMatch(['Admin'])">Admin DashBoard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/user"
                       *ngIf="userService.roleMatch(['User'])">User Dashboard</a>
                </li>
            </ul>
            <button *ngIf="! isLoggedIn()" type="button" class="btn btn-success" routerLink="/login">Login</button>
            <button *ngIf="isLoggedIn()" type="button" class="btn btn-danger" (click)="logout()">Logout</button>
        </div>
    </div>
</nav>-->
