<div class="container mt-5">
    <div class="card p-2">
        <div class="row">
            <div class="col-6">
                <form #productForm="ngForm" (ngSubmit)="addProduct(productForm)">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Nombre del Producto</mat-label>
                        <input matInput placeholder="Nombre del Producto" [(ngModel)]="product.productName" name="productName">
                    </mat-form-field>
    
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Descripcion del Producto</mat-label>
                        <input matInput placeholder="Descripcion del Producto" [(ngModel)]="product.productDescription" name="productDescription">
                    </mat-form-field>
    
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Precio Actual del Producto</mat-label>
                        <input matInput placeholder="Precio Actual del Producto" [(ngModel)]="product.productActualPrice" name="productActualPrice">
                    </mat-form-field>
    
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Precio con descuento del producto</mat-label>
                        <input matInput placeholder="Precio con descuento del producto" [(ngModel)]="product.productDiscountedPrice" name="productDiscountedPrice">
                    </mat-form-field>
    
                    <div align="end">
                        <button mat-stroked-button color="primary" style="margin-right: 3px;">Clear</button>
                        <button type="submit" *ngIf="isNewProduct" mat-stroked-button color="primary">Agregar Producto</button>
                        <button type="submit" *ngIf="!isNewProduct" mat-stroked-button color="primary">Actualizar Producto</button>
                    </div>
                </form>
            </div>
            <div class="col-6">
                <div>
                    <div class="dropzone" appDrag (files)="fileDropped($event)">
                        <div class="text-wrapper">
                            <div class="centered">Arrastre y suelte su archivo o
                                <a (click)="selectFile.click()" class="browse-button">busque</a> un archivo
                            </div>
                        </div>
                    </div>
                    <input type="file" style="display: none;" multiple value="select" #selectFile (change)="onFileSelected($event)">
                </div>
                <div class="mt-5">
                    <div class="row">
                        <mat-grid-list cols="4" rowHeight="1:1">
                            <mat-grid-tile *ngFor="let file of product.productImages; let i = index;">
                                <div style="position: relative;">
                                    <span class="btn-remove-image" (click)="removeImages(i)">x</span>
                                    <img [src]="file.url" width="100px" height="100px">
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
