<div class="container mt-5">
    <div class="card" style="padding: 20px;">
        <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Username</mat-label>
                <input matInput ngModel name="userName" id="userName" placeholder="Username">
                <mat-hint>Username</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Nombes</mat-label>
                <input matInput ngModel name="userFirstName" id="userFirstName" placeholder="Nombres">
                <mat-hint>Nombres</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Apellidos</mat-label>
                <input matInput ngModel name="userLastName" id="userLastName" placeholder="Apellidos">
                <mat-hint>Apellidos</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Password</mat-label>
                <input matInput ngModel name="userPassword" id="userPassword" placeholder="Password">
                <mat-hint>Password</mat-hint>
            </mat-form-field>

            <div class="text-center">
                <button type="submit" mat-raised-button color="primary">Registrarse</button>
            </div>
        </form>
    </div>
</div>